<br>
<br>
<div class="container">
  <div class="row">
    <div class="span2">
      <div class="clearfix content-heading">
          <img class="center-block " src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Man_Getting_an_Idea_GIF_Animation_Loop.gif"/>
          <br>
          <h3>Why IdeaGround ? &nbsp </h3>
      </div>
      <p>
       
      </p>
      <div class="paragraph">
  <div class="row">
    <div class="span6">
      <div class="clearfix content-heading">
          <img class="pull-left iconabout" src="https://thumbs.gfycat.com/VigorousShockedGazelle-size_restricted.gif"/>
          <br>
          <h5>" Are you afraid of missing your project deadlines ? "</h5>
           
      </div>
     <p>Don't Worry !!IdeaGround will now keep track of all of your projects and their deadlines.</p>
    </div>
  </div>
</div>
<br>
<br>

  <div class="paragraph">
  <div class="row">
    <div class="span6">
      <div class="clearfix content-heading">
          <img class="pull-left iconabout" src="https://thumbs.gfycat.com/SoftAcclaimedCockroach-size_restricted.gif"/>
          <br>
         <h5>" Tired of signing up again and again ?? " </h5>
           <p>Come... login with a single Click with your Google account!!</p>
      </div>
     
    </div>
  </div>
</div>

<br>
<br>

  <div class="paragraph">
  <div class="row">
    <div class="span6">
      <div class="clearfix content-heading">
          <img class="pull-left iconabout" src="https://thumbs.gfycat.com/JointZestyJuliabutterfly-size_restricted.gif"/>
        <br>
          <h5>"Have any idea ??"  </h5>
           <p>Then spread it to the world coz..good things need to be shared..!!</p>
      </div>
     
    </div>
  </div>
</div>
<br>
<br>

  <div class="paragraph">
  <div class="row">
    <div class="span6">
      <div class="clearfix content-heading">
          <img class="pull-left iconabout" src="https://thumbs.gfycat.com/RelievedCandidAustraliansilkyterrier-size_restricted.gif"/>
        <br>
          <h5>"Looking for some cool suggestions for your projects ??"  </h5>
           <p>"halt".. our community is always ready to help you..!!</p>
      </div>
     
    </div>
  </div>
</div>
<br>
<br>

  <div class="paragraph">
  <div class="row">
    <div class="span6">
      <div class="clearfix content-heading">
          <img class="pull-left iconabout" src="https://thumbs.gfycat.com/BoringSlowGnatcatcher-size_restricted.gif"/>
        <br>
          <h5>"Afraid of missing the important dates ??"  </h5>
           <p>Relax..Our integrated <strong>Google calendar </strong>will serve you with it's best!!</p>
      </div>
     
    </div>
  </div>
</div>
<br>
<br>

  <div class="paragraph">
  <div class="row">
    <div class="span6">
      <div class="clearfix content-heading">
          <img class="pull-left iconabout" src="https://thumbs.gfycat.com/GiddyAbleAsianporcupine-size_restricted.gif"/>
        <br>
          <h5>"Anytime and anywhere !!" </h5>
           <p>Get notifications on all your devices." </p>
      </div>
     
    </div>
  </div>
</div>

<br>
<br>

  <div class="paragraph">
  <div class="row">
    <div class="span6">
      <div class="clearfix content-heading">
          <img class="pull-left iconabout" src="https://thumbs.gfycat.com/WarlikeDeafeningGallinule-size_restricted.gif"/>
        <br>
          <h5>"They say Time is Money.." </h5>
           <p>So get your work done on time and save as much as you can..!! </p>
      </div>
     
    </div>
  </div>
</div>

<br>
<br>

  <div class="paragraph">
  <div class="row">
    <div class="span6">
      <div class="clearfix content-heading">
          <img class="pull-left iconabout" src="https://thumbs.gfycat.com/SociableAgitatedKid-size_restricted.gif"/>
        <br>
        <h5>"Technology may differ.."  </h5>
           <p>Be it mobile,laptop or tablets.. We support everywhere..!!</p>
      </div>
     
    </div>
    
  </div>
</div>

<br>
<br>

  <div class="paragraph">
  <div class="row">
    <div class="span6">
      <div class="clearfix content-heading">
          <img class="pull-left iconabout" src="https://thumbs.gfycat.com/ReadyOblongIbis-size_restricted.gif"/>
        <br>
        <h5>"Love Simplicty ??" </h5>
           <p>then you'll surely love our beautiful interface..!!</p>
      </div>
     
    </div>
    
  </div>
</div>
<br>
<br>

  <div class="paragraph">
  <div class="row">
    <div class="span6">
      <div class="clearfix content-heading">
          <img class="pull-left iconabout" src="https://thumbs.gfycat.com/NippyMeanBittern-size_restricted.gif"/>
        <br>
        <h5>"English is cool !!  but your native language is even cooler.. isn't it ?" </h5>
           <p>That's why we support over 100 languages..!!</p>
      </div>
     
    </div>
    
  </div>
</div>



<br>
<br>
<p class="pull-right">
          <span>Developed By<a href="https://in.linkedin.com/in/itsksaurabh"> Kumar Saurabh</a></span> | <span>Made with <span style="color: #f7403a">&hearts;</span> in India </span>
</p>
    </div>
  </div>
  
</div>
 