
<div class="wrapper">
  <h1>Welcome to IdeaGround...<span>&nbsp;</span></h1>
</div>
<br>


<div class="loginimg">
  <div>
{{#if user}}
{{else}}
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}
  </div>
<div >
<img  class="gif" src="https://cdn.dribbble.com/users/1162077/screenshots/3848914/programmer.gif" alt="dev">
</div>

</div>
